<div class="fullscreen-overlay" (click)="dismiss($event)">
  <div class="col-md-4">
    <div class="card dialog-card">
      <div class="card-body">
        <h2>sign in?</h2>
        @if (signinForm) {

          @if (errorMessage()) {
            <div class="alert alert-danger mb-0 mt-3">
              <ul class="mb-0">
                <li>{{ errorMessage() }}</li>
              </ul>
            </div>
          }

          <form [formGroup]="signinForm" (ngSubmit)="signInWithCredentials()">
            <input id="username" type="text" placeholder="username" name="username" class="mt-3" formControlName="username">
            <input id="password" type="password" placeholder="password" name="password" class="mt-3" formControlName="password">
            <button class="outline-btn mt-3" [disabled]="signinForm.invalid || isLoading()" type="submit">sign in</button>
            <p class="mt-3 text-center">or <span class="link text-primary" (click)="createAccountClicked()">create an account</span></p>
          </form>
        }
        <hr />
        <div class="d-flex justify-content-center">
          <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
        </div>
      </div>
    </div>
  </div>
</div>