<div class="fullscreen-overlay" (click)="dismiss($event)">
  <div class="col-md-3">
    <div class="card dialog-card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h2>sign in?</h2>
          <i (click)="dismiss($event)" class="bi bi-x-lg me-1"></i>
        </div>

        @if (errorMessage()) {
          <div class="alert alert-danger mb-0 mt-3">
            <ul class="mb-0">
              <li>{{ errorMessage() }}</li>
            </ul>
          </div>
        }
        <p>An account will be created for you if you don't have one yet.</p>
        <hr />
        <div class="container">
          <asl-google-signin-button #googleAuthButton type='standard' size='large' class="d-block mx-auto"></asl-google-signin-button>
          <button #facebookAuthButton class="facebook-btn d-block mx-auto mt-2" (click)="signInWithFacebookClicked()">f Continue with Facebook</button>
        </div>
      </div>
    </div>
  </div>
</div>