@if (mediaFiles.length === 1) {
  <div class="row">
    <div class="col-12 overlay">
      <div class="cover"></div>
      <img class="img-1" [src]="mediaUrl(mediaFiles[0].path)"/>
    </div>
  </div>
}

@if (mediaFiles.length === 2) {
  <div class="row">
    @for (mediaFile of mediaFiles; track mediaFile) {
      <div class="col-6 overlay">
        <div class="cover"></div>
        <img class="img-2" [src]="mediaUrl(mediaFile.path)"/>
      </div>
    }
  </div>
}

@if (mediaFiles.length > 2) {
  <div class="row">
    <div class="col-6 overlay">
      <div class="cover"></div>
      <img class="img-1" [src]="mediaUrl(mediaFiles[0].path)"/>
    </div>
    <div class="col-6 overlay">
      <div class="overlay">
        <div class="cover"></div>
        <img class="img-3" [src]="mediaUrl(mediaFiles[1].path)"/>
      </div>

      @if (mediaFiles.length === 3) {
        <div class="overlay">
          <div class="cover"></div>
          <img class="img-3" [src]="mediaUrl(mediaFiles[2].path)"/>
        </div>
      }
      @else {
        <div class="w-100 overlay">
          <div class="cover-text">+{{ mediaFiles.length - 2 }}</div>
          <img class="img-3" [src]="mediaUrl(mediaFiles[2].path)"/>
        </div>
      }
    </div>
  </div>
}