<div class="container">
  <!-- Filters -->
  <hr />
  <div class="row">
    <div class="form-group col-md-6">
      <ng-select [searchable]="false" [clearable]="false" (change)="updateParams()" [(ngModel)]="selectedPeriod">
        <ng-option value="7" i18n>Next 7 days</ng-option>
        <ng-option value="14" i18n>Next 14 days</ng-option>
        <ng-option value="21" i18n>Next 21 days</ng-option>
      </ng-select>
    </div>
    <div class="form-group col-md-6">
      <ng-select
        [items]="locations()"
        [typeahead]="locationNameInput$"
        [loading]="locationsLoading()"
        [clearable]="false"
        [editableSearchTerm]="true"
        bindLabel="name"
        bindValue="code"
        [(ngModel)]="selectedLocation"
        [clearable]="true"
        i18n-notFoundText
        notFoundText="no results"
        (change)="updateParams()">
      </ng-select>
    </div>
  </div>

  <!-- Items -->
  @for (item of items(); track item) {
    <app-event-card [event]="item.event" (onMediaSelected)="displayGallery($event)"  />
  }

  @if (!items().length && !isLoading()) {
    <app-no-results-block />
  }

  @if (!isLastPage() && isLoading()) {
    <app-spinner />
  }
</div>

@if (isGalleryDisplayed() && items()) {
  <app-media-gallery [mediaUris]="selectedMediaList()" [selectedIndex]="selectedMediaIndex()" (onDismiss)="dismissGallery()" />
}