<div class="menu-content container">
  <a class="app-menu-item" routerLink="/home" routerLinkActive="active"><i class="bi bi-house-fill"></i> home</a>
  <a class="app-menu-item" routerLinkActive="active"><i class="bi bi-lightning-charge-fill"></i> news</a>
  <a class="app-menu-item"><img src="/assets/icons/nyan.svg" alt="memes" width="18" height="18"> memes</a>

  <a class="app-menu-item"><i class="bi bi-globe-americas"></i> international</a>
  <a class="app-menu-item">health</a>
  <a class="app-menu-item">tech</a>
</div>