.menu-content {
  margin-top: 20px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 4pt 2pt 4pt 8pt;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.menu-content::-webkit-scrollbar {
  display: none;
}