<div class="container mt-3 p-3">
  <h1>Privacy Policy</h1>
  <p>Thank you for visiting our website. Your privacy is important to us. This privacy policy outlines how we handle information on our website, and it applies to all users of our site.</p>
  <p>Effective date: 2024-12-01</p>
  <h2>Information we collect</h2>
  <p>Our website does not collect any personal information from users, except for their email addresses.</p>
  <ul>
    <li>We store users' email addresses solely as a means to keep track of their activity on our website.</li>
    <li>No additional personal information is required or collected.</li>
  </ul>

  <h2>How we use your information</h2>
  <p>The email address we collect is used to:</p>
  <ul>
      <li>Identify and authenticate users as they navigate our site.</li>
      <li>Track and monitor user activity related to their experience on the website.</li>
  </ul>
  <p class="text-danger">> We do not use your information for marketing purposes, nor do we share, sell, or disclose it to third parties!</p>

  <h2>Data Security</h2>
  <p>We take appropriate measures to protect your email address and prevent unauthorized access. However, please be aware that no data transmission over the internet can be guaranteed to be 100% secure.</p>

  <h2>Changes to This Privacy Policy</h2>
  <p>We may update our privacy policy from time to time. If changes are made, we will post the updated policy on this page and update the effective date at the top of the policy.</p>

  <h2>Contact Us</h2>
  <p>If you have any questions or concerns about this privacy policy or our data practices, please contact us at [privacy&#64;niuz.app].</p>
</div>