<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand" [routerLink]="['/home']">_a </a>
    <form class="form-inline flex-grow-1 mx-2" (submit)="search()">
      <input id="query" type="search" placeholder="search.." name="query" aria-label="Search" class="form-control w-100" [(ngModel)]="query">
    </form>
    <button class="btn-blank" (click)="toggleSignInDialog()">sign in</button>
  </div>
</nav>

@if (isSignInDialogDisplayed()) {
  <app-sign-in-dialog (onCreateAccountClicked)="toggleSignUpDialog()" (onDismiss)="dismiss()" />
}
@else if (isSignUpDialogDisplayed()) {
  <app-sign-up-dialog (onSignInClicked)="toggleSignInDialog()" (onDismiss)="dismiss()"/>
}