<div class="fullscreen-overlay" (click)="dismiss($event)">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2>new?</h2>
        <form>
          <input id="username" type="text" placeholder="username" name="username" class="mt-3">
          <input id="email" type="email" placeholder="email address" name="email" class="mt-3">
          <input id="password" type="password" placeholder="password" name="password" class="mt-3">
          <input id="password-confirm" type="password" placeholder="confirm your password" name="password-confirm" class="mt-3">
          <button class="sign-in-btn mt-3" type="submit">create account</button>
          <p class="mt-3 text-center">or <span class="link text-primary" (click)="signInClicked()">sign in</span></p>
        </form>
        <hr />
        <button class="sign-in-google-btn" type="submit">sign up with google</button>
      </div>
    </div>
  </div>
</div>