<div class="fullscreen-overlay" (click)="dismiss($event)">
  <div class="col-md-4">
    <div class="card dialog-card">
      <div class="card-body">
        <h2>new?</h2>
        @if (signupForm) {
          
          @if (signupForm.invalid && (signupForm.touched || signupForm.dirty)) {
            <div class="alert alert-danger mb-0 mt-3">
              <ul class="mb-0">
                @if (signupForm.controls['username'].hasError('compliantUsername')) {
                  <li>Username can only contain alphanumeric characters and underscores, and at least 5 characters long.</li>
                }
                @if (signupForm.controls['username'].hasError('uniqueUsername')) {
                  <li>This username is already taken.</li>
                }
                @if (signupForm.controls['email'].hasError('email')) {
                  <li>Email address is not valid.</li>
                }
                @if (signupForm.controls['password'].hasError('strongPassword')) {
                  <li>Password must contain an alpha character, a digit, and at least 8 characters long.</li>
                }
                @if (signupForm.hasError('passwordMatch')) {
                  <li>Password and password confirmation do not match.</li>
                }
              </ul>
            </div>
          }
  
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <input id="username" type="text" placeholder="username" name="username" class="mt-3" formControlName="username" maxlength="30" required>
            <input id="email" type="email" placeholder="email address" name="email" class="mt-3" formControlName="email">
            <input id="password" type="password" placeholder="password" name="password" class="mt-3" formControlName="password">
            <input id="passwordConfirmation" type="password" placeholder="confirm your password" name="passwordConfirmation" class="mt-3" formControlName="passwordConfirmation">
            <button class="outline-btn mt-3" [disabled]="signupForm.invalid || isLoading()" type="submit">create account</button>
            <p class="mt-3 text-center">or <span class="link text-primary" (click)="signInClicked()">sign in</span></p>
          </form>
        }
      </div>
    </div>
  </div>
</div>