<div class="container">
  @for (item of items(); track item) {
    @if (item.event) {
      <app-event-card [event]="item.event" (onMediaSelected)="displayGallery($event)" />
    }
    @else if (item.post) {
      <app-post-card [post]="item.post" (onMediaSelected)="displayGallery($event)" />
    }
  }

  @if (!items().length && !isLoading()) {
    <app-no-results-block />
  }

  @if (!isLastPage() && isLoading()) {
    <app-spinner />
  }
</div>

@if (isGalleryDisplayed() && items()) {
  <app-media-gallery [mediaUris]="selectedMediaList()" [selectedIndex]="selectedMediaIndex()" (onDismiss)="dismissGallery()" />
}