<div class="post-card mt-3 pb-3">
  <div class="d-flex p-3">
    <img src="/assets/images/asura.jpg" alt="User Avatar" class="avatar me-3">
    <div class="post-info w-100">
      <div class="post-header">
        <div>
          <span class="post-name">{{ post.author }}</span>
          <div class="post-date">{{ post.publishedOn | dateAgo }}</div>
        </div>
        <span class="post-extra">
          <button class="default-btn" [disabled]="isLoading()" [class.active]="post.userScore === 1" (click)="clickVote()"><i class="bi bi-hand-thumbs-up-fill"></i></button>
        </span>
      </div>
    </div>
  </div>
  <div class="post-content px-3">
    {{ post.summary }}

    @if (displayFull) {
      <br>{{ post.text }}
    }
    @else {
      <a [routerLink]="['/post', post.reference]">Read more</a>
    }
  </div>
  <div class="post-media">
    <app-post-media-grid [mediaFiles]="post.mediaFiles" [displayAll]="displayFull" (onClickMore)="showPost()" (onMediaSelected)="selectMedia($event)"/>
  </div>
  <div class="post-tags px-3 mt-4">
    @for (tag of displayedTags; track tag) {
      <a [routerLink]="['/search']" [queryParams]="{ tag }" class="app-post-tag">{{ tag }}</a>
    }

    @if (!allTagsDisplayed) {
      <label class="text-muted" (click)="showAllTags()">+{{ post.tags.length - displayedTags.length }} more</label>
    }
  </div>
</div>