<app-item-card [item]="post" [displayFull]="displayFull">
  <div class="post-content px-3">
    <div class="angular-text" [innerHTML]="post.summary | summaryFormat"></div>
    
    @if (displayFull) {
      <hr class="dashed-line" />
      <div class="angular-text justified-text" [innerHTML]="post.text | summaryFormat"></div>

      @if (post.references) {
        <br/>
        @for (reference of post.references; track $index) {
          <a class="reference-link" [href]="reference"><i class="bi bi-link-45deg"></i> Source {{ $index + 1 }}</a>
        }
      }
    }
    @else {
      <a [routerLink]="['/posts', post.reference]" i18n>Read more</a>
    }
  </div>

  @if (post.mediaUris) {
    <div class="post-media">
      <app-media-grid [mediaUris]="post.mediaUris" [displayAll]="displayFull" (onClickMore)="showPost()" (onMediaSelected)="selectMedia($event)"/>
    </div>
  }
</app-item-card>