<div class="container mt-3 p-3">
  <h1>Terms of Service</h1>
  ------------------
  <p>Last updated on: 2024-11-13</p>

  <p>By accessing or using our website, you agree to comply with and be bound by these Terms of Service ("Terms"). Please read these Terms carefully before using the site. If you do not agree to these Terms, you should not use our website.</p>

  <h2>1. Use of Our Website</h2>
  <p>Our website and its content are intended for personal and non-commercial use only. You agree to use the website lawfully and not to engage in any activity that may harm our website, its content, or other users.</p>

  <h2>2. User Account and Email Collection</h2>
  <p>To track your activity on our site, we may require you to provide your email address. You agree to provide a valid email address and acknowledge that this is the only personal information collected to identify and authenticate you while using the site. For more details, please review our <a class="text-primary" [routerLink]="['/legal/privacy']">Privacy Policy</a>.</p>

  <h2>3. User Conduct</h2>
  <p>When using our site, you agree not to:</p>
  <ul>
      <li>Interfere with the operation of the website, including hacking, phishing, or other malicious activity.</li>
      <li>Attempt to access, tamper with, or use non-public areas of the site or systems.</li>
  </ul>

  <h2>4. Limitation of Liability</h2>
  <p>We strive to provide accurate and reliable information on our website. However, We are not responsible for any errors, inaccuracies, or omissions. Your use of the site is at your own risk, and we are not liable for any damages resulting from your use of or inability to use the site.</p>

  <h2>5. Termination</h2>
  <p>We reserve the right to suspend or terminate your access to our site at any time, without notice, if we determine that you have violated these Terms or engaged in any inappropriate conduct.</p>

  <h2>6. Modifications to These Terms</h2>
  <p>We may update these Terms from time to time. If changes are made, we will post the updated Terms on this page and update the effective date above. Continued use of the site after such changes constitutes your acceptance of the new Terms.</p>

  <h2>Contact Us</h2>
  <p>If you have any questions or concerns about this privacy policy or our data practices, please contact us at [legal&#64;niuz.app].</p>
</div>