<div class="fullscreen-overlay" (click)="dismiss($event)">
  <div class="col-md-4">
    <div class="card dialog-card">
      <div class="card-body">
        <h2>my account</h2>
        @if (userInfo()) {
          <label i18n>username</label>
          <input id="username" type="text" i18n-placeholder placeholder="username" class="mt-2" [value]="userInfo()!.username" disabled>

          <label class="mt-3" i18n>email address</label>
          <input id="username" type="text" i18n-placeholder placeholder="email" class="mt-2" [value]="userInfo()!.email" disabled>

          <label class="mt-3" i18n>you're a</label>
          <input id="username" type="text" i18n-placeholder placeholder="role" class="mt-2" [value]="userInfo()!.role" disabled>

          <button class="btn btn-outline-danger mt-3" type="button" (click)="deleteAccountClicked()" [disabled]="deleteAccountLoading()">{{ deleteAccountText() }}</button> 
        }
        <button class="outline-btn mt-3" type="button" (click)="dismiss($event)" i18n>close</button>
      </div>
    </div>
  </div>
</div>