.content {
  border: 2pt solid #212121;
  padding: 4pt 8pt 4pt 8pt;
  margin-right: 6pt;
  background: linear-gradient(to left, #ffffff 50%, #212121 50%) right;
  background-size: 200%;
  transition: .2s ease-out;
  font-size: 0.9rem;
  cursor: pointer;
}

.content:hover, .active .content {
  background-position: left;
  color: #fbfbfb;
  padding: 4pt 12pt 4pt 12pt;
}