* {
  font-family: 'PixeloidSans', "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
}

a {
  all: unset;
}

.default-btn {
  border: 2pt solid #212121;
  background-color: #ffffff;
  color: #212121;
  padding: 2pt 6pt 2pt 6pt;
  font-size: 0.85rem;
}

.default-btn:hover {
  background-color: #212121;
  color: #ffffff;
}