* {
  font-family: 'PixeloidSans', "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
}

a {
  all: unset;
  cursor: pointer;
}

.default-btn {
  border: 2pt solid #212121;
  background-color: #ffffff;
  color: #212121;
  padding: 2pt 6pt 2pt 6pt;
  font-size: 1rem;
}

.default-btn:hover, .default-btn.active {
  background-color: #212121;
  color: #ffffff;
}

.default-btn:disabled {
  background-color: #dddddd;
  color: #666666;
}

.btn-blank {
  background-color: transparent;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-blank:hover {
  font-weight: 700;
}

.form-control:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

body {
  background-color: #fefefe;
}

.link {
  cursor: pointer;
}

.outline-btn {
  background-color: #000000;
  color: #eeeeee;
}

.outline-btn:disabled {
  background-color: #888888;
  color: #eeeeee;
}

.dropdown-item {
  width: auto;
}

.danger-btn {
  color: #F44336;
}

.danger-btn:hover {
  background-color: #F44336;
}

.danger-btn:disabled {
  color: #212121;
  background-color: #888888;
}

.success-btn {
  color: #4CAF50;
}

.success-btn:hover {
  background-color: #4CAF50;
}

.success-btn:disabled {
  color: #212121;
  background-color: #888888;
}

