/** Global **/

* {
  font-family: 'PixeloidSans', "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
}

a {
  all: unset;
  cursor: pointer;
}

.alert {
  border-radius: 0;
}

.default-btn {
  border: 2pt solid #212121;
  background-color: #ffffff;
  color: #212121;
  padding: 2pt 6pt 2pt 6pt;
  font-size: 1rem;
}

.default-btn:hover, .default-btn.active {
  background-color: #212121;
  color: #ffffff;
}

.default-btn:disabled {
  background-color: #dddddd;
  color: #666666;
}

.btn-blank {
  background-color: transparent;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-blank:hover {
  font-weight: 700;
}

.form-control:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

body {
  background-color: #fefefe;
}

.link {
  cursor: pointer;
}

.outline-btn {
  background-color: #000000;
  color: #eeeeee;
}

.outline-btn:disabled {
  background-color: #888888;
  color: #eeeeee;
}

.dropdown-item {
  width: auto;
}

.danger-btn {
  color: #F44336;
}

.danger-btn:hover {
  background-color: #F44336;
}

.danger-btn:disabled {
  color: #212121;
  background-color: #888888;
}

.success-btn {
  color: #4CAF50;
}

.success-btn:hover {
  background-color: #4CAF50;
}

.success-btn:disabled {
  color: #212121;
  background-color: #888888;
}

/** Dialogs **/
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-card {
  max-height: 80vh;
  overflow: hidden;
  border: 4pt solid #212121;
  background-color: #ffffff;
  border-radius: 0;
}

.dialog-card button {
  width: 100%;
  padding: 8px 12px 8px 12px;
  border: none;
}

.dialog-card input {
  width: 100%;
  outline: none;
  border: none;
  color: #212121;
  background-color: #eeeeee;
  padding: 10px 15px 10px 15px;
}

.text-warning {
  color: #FB8C00 !important;
}

/** CSS for displaying backspace characters in templates **/
.angular-text {
  white-space: pre-line;
}