<div class="container">
  @for (post of postList(); track post) {
    <app-post-card [post]="post" (onPostMediaSelected)="displayGallery($event)" />
  }

  @if (!postList().length && !isLoading()) {
    <app-no-results-block [query]="query" />
  }

  @if (!isLastPage()) {
    <app-spinner />
    <div #postLoadingSpinner></div>
  }
</div>

@if (isGalleryDisplayed() && selectedPost()) {
  <app-post-media-gallery [mediaUris]="selectedPost().mediaUris" [selectedIndex]="selectedPostMediaIndex()" (onDismiss)="dismissGallery()" />
}