<div class="container">
  @for (post of postList(); track post) {
    <app-post-card [post]="post" (onPostMediaSelected)="displayGallery($event)" />
  }

  @if (!postList().length && !isLoading) {
    <app-no-results-block [query]="query" />
  }

  @if (!isLastPage && isLoading) {
    <app-spinner />
  }
</div>

@if (isGalleryDisplayed() && selectedPost()) {
  <app-post-media-gallery [mediaUrls]="selectedPost().mediaFiles" [selectedIndex]="selectedPostMediaIndex()" (onDismiss)="dismissGallery()" />
}